body {
  background-color: #eee;
  padding-top: 60px;
}

.container .content {
  padding-top: 40px;
}

.home h1 {
  font-size: 6em;
}

.home img {
  height: 80px;
}

.home ul {
  list-style: none;
  text-align: left;
  margin-top: 40px;
}

.home ul li {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 14px;
  padding: 14px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
}

#editor {
  width: 600px;
  height: 400px;
  text-align: left;
}
