body {
  background-color: #eee;
}

.navbar-fixed-top {
  margin-bottom: 20px;
  position: static;
}

.home h1 {
  font-size: 6em;
  line-height: 0.9em;
}

.home img {
  height: 100px;
}

.home ul {
  list-style: none;
  text-align: left;
  margin-top: 40px;
}

.home ul li {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 14px;
  padding: 14px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
}

#editor {
  max-width: 640px;
  height: 400px;
  text-align: left;
}

.debug {
  border: 1px dotted red;
}

.code-cookie .uneditable-input, .code-cookie .uneditable-textarea {
  cursor: default;
}
