body {
  background-color: #eee;
  padding-bottom: 20px;
}

.navbar-fixed-top {
  margin-bottom: 20px;
  position: static;
}

.home h1 {
  font-size: 6em;
  line-height: 0.9em;
}

.home img {
  height: 100px;
}

.home ul {
  list-style: none;
  text-align: left;
  margin: 40px 0 0 0;
}

.home ul li {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 14px;
  padding: 14px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
}

.editor {
  max-width: 640px;
  height: 400px;
  text-align: left;
}

.debug {
  border: 1px dotted red;
}

.code-cookie .uneditable-input,
.code-cookie .uneditable-textarea,
.code-cookie-solution .uneditable-input,
.code-cookie-solution .uneditable-textarea {
  color: #666;
  cursor: default;
  width: 96%;
}

.code-cookie .description {
  height: 140px;
  overflow-y: auto;
  white-space: normal;
}

.notification .no-notifications {
  padding: 10px;
}

.navbar img.gravatar {
  height: 30px;
  margin-top: 5px;
}

.navbar ul, .navbar li {
  margin-left: 0;
}

.new-comment textarea {
  width: 100%;
}

.new-comment img.gravatar {
  height: 50px;
}

.comments {
  list-style: none;
  margin-left: 0;
}

.comments li {
  background-color: #fff;
  margin: 0 0 20px 0;
}

.comment img.gravatar {
  height: 35px;
}

.comment .email-and-date {
  margin-left: 10px;
}

.comment .email-and-date p {
  margin-bottom: 0;
}

.comment .date {
  font-size: 0.8em;
}

.comment .content {
}

.notifications a {
  padding: 0 10px 0 0;
  line-height: 40px;
}

.whos-online li a {
  padding: 0 4px !important;
}

pre.prettyprint {
  border-radius: 0;
}

/*----------------------------------------------------------------------------*/

.nogutter {
  margin-left: 0;
}
