<template name="codeCookiePage">
  {{#with currentCodeCookie}}

    {{> codeCookie}}

    <div class="row">
      <div class="span5 offset1">
        <h2>Responses</h2>
      </div>

      <div class="span4">
        <h2>Comments</h2>

        <div class="row">
          <ul class="comments">
            {{#each commentList}}
              <li>{{> comment}}</li>
            {{/each}}
          </ul>
        </div>

        {{#if currentUser}}
          <div class="new-comment row">
            {{> newComment}}
          </div>
        {{/if}}
      </div>
    </div>

  {{/with}}
</template>
