<template name="codeCookieSolution">
  <div class="code-cookie-solution">

    <div class="row">

      <div class="span6">
        <div class="control-group">
          <pre class="content prettyprint lang-ruby">{{implementation}}</pre>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <span class="uneditable-input description"><div>{{description}}</div></span>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="span3">
        <div class="control-group">
          <label class="control-label">Email</label>
          <span class="uneditable-input email">
            <span>{{userEmail}}</span>
          </span>
        </div>
      </div>

      <div class="span1">
        <div class="control-group">
          <label class="control-label">Votes</label>
          <span class="uneditable-input votes">
            <span>{{votes}}</span>
          </span>
        </div>
      </div>

      <div class="span2">
        <div class="control-group">
          <label class="control-label">Created</label>
          <span class="input-large uneditable-input created-at">
            <span>{{dateNice createdAt}}</span>
          </span>
        </div>
      </div>

    </div>
  </div>
</template>
