<template name="codeCookie">
  <div class="code-cookie">

    <div class="row">
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            <pre class="content prettyprint lang-ruby">{{content}}</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <span class="uneditable-input name">{{name}}</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <span class="uneditable-input description">{{description}}</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <span class="uneditable-input email">{{userEmail}}</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Created</label>
          <div class="controls">
            <span class="input-large uneditable-input created-at">{{dateNice createdAt}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
