<template name="codeCookieSolution">
  <div class="code-cookie-solution">

    <div class="row">

      <div class="span6">
        <div class="control-group">
          <div class="controls">
            <pre class="content prettyprint lang-ruby">{{implementation}}</pre>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <span class="uneditable-input description">{{description}}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="span3">
        <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <span class="uneditable-input email">{{userEmail}}</span>
          </div>
        </div>
      </div>

      <div class="span1">
        <div class="control-group">
          <label class="control-label">Votes</label>
          <div class="controls">
            <span class="uneditable-input votes">{{votes}}</span>
          </div>
        </div>
      </div>

      <div class="span2">
        <div class="control-group">
          <label class="control-label">Created</label>
          <div class="controls">
            <span class="input-large uneditable-input created-at">{{dateNice createdAt}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
