<template name="codeCookie">
  <div class="code-cookie">

    <div class="row">
      <div class="span6">
        <div class="control-group">
          <pre class="content prettyprint lang-ruby">{{content}}</pre>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="span6">
        <div class="control-group">
          <label class="control-label">Name</label>
          <span class="uneditable-input name"><span>{{name}}</span></span>
        </div>

        <div class="control-group">
          <label class="control-label">Description</label>
          <span class="uneditable-input description"><div>{{description}}</div></span>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="span4">
        <div class="control-group">
          <label class="control-label">Email</label>
          <span class="uneditable-input email"><span>{{userEmail}}</span></span>
        </div>
      </div>

      <div class="span2">
        <div class="control-group">
          <label class="control-label">Created</label>
          <span class="input-large uneditable-input created-at"><span>{{dateNice createdAt}}</span></span>
        </div>
      </div>

    </div>
  </div>
</template>
