<template name="codeCookiesList">
  <div class="row text-center">
    <div class="span8 offset2">
      <ul>
        {{#each cookies}}
          <li>
            <div class="row">
              <div class="span5">
                <span class="badge">{{!commentCount}}</span>
                <span class="badge badge-inverse">{{solutionCount}}</span>
                <a class="name" href="{{codeCookiePagePath this}}">
                  <span class="name">{{name}}</span>
                </a>
              </div>

              <div class="span2 pull-right text-right">
                <span class="email">{{userEmail}}</span>
                <span class="created-at muted">{{dateNice createdAt}}</span>
              </div>

            </div>

            <div class="row">
              <div class="span6">
                <span class="description">{{description}}</span>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
