<template name="nav">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Code Cookies</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {{#if currentUser}}
              <li class="span2">
                <a href="{{newCodeCookiePath}}">
                  <i class="icon-plus icon-white"></i>
                  New Code Cookie
                </a>
              </li>
              <li class="span5">
                {{> whosOnline}}
              </li>
            {{/if}}
          </ul>
          <ul class="nav pull-right">
            <li class="span3">
              {{loginButtons}}
            </li>
            <li class="span1 nogutter">
              {{#if currentUser}}
                <img src="{{currentUsergravatarImageUrl}}" alt="Gravatar" class="gravatar pull-right" />
              {{/if}}
              {{> notifications}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
